body{
    background-color: aqua;
}
h1{
    color: red;
}
li:hover{
    color:white;
}
p::first-letter{
    color:pink;
}
input[type="text"]{
    background-color: green;
}
ul > li{
    color:yellow;
}
p{
    color:blueviolet;
}
li:nth-child(4){
    background-color:beige;
}
p:not(:first-of-type){
    text-decoration: overline;
}
li::before{
    content: @;
}
li::after{
    content:!;
}
p::first-letter{
    font-size: 200%;
    color:brown;
}