body{
    background-color: black;
}
h1{
    color:aqua;
}
input[type="text"]{
    background-color: bisque;
}
ul>li{
     color:red;
}
ul+p{
    color: brown;
}
li:hover{
    color: aqua;
}
li:nth-child(4){
    background-color: aliceblue;
}
p:not(:first-of-type){
    color: white;
}
li::before{
    content: "@"
}
li::after{
    content: "!";
}
p::first-letter{
    font-size: 200%;
    color: aquamarine;
}
